	:root {
 		--body-font: "Inter var", system-ui, sans-serif;
 		--accent-font: 'InterDisplay var';
 		--mono-font: "Consolas", monospace;
 		--border-radius: 10px;
 	}

 	:focus {
 		border-color: #0060df;
 		box-shadow: 0 0 0 2px rgb(0 144 237/.5);
 		outline: 0;
 		border-radius: 2px;
 	}

 	 ::-webkit-scrollbar {
 		background: white;
 		border-radius: 10px;
 	}

 	 ::-webkit-scrollbar-thumb {
 		background: #ddd;
 		border: 4px solid transparent;
 		border-radius: 100px;
 		background-clip: content-box;
 	}

 	 ::-webkit-scrollbar-thumb:hover {
 		background: grey;
 		border: 4px solid transparent;
 		border-radius: 150px;
 		background-clip: content-box;
 	}

 	 ::selection {
 		background: #d2ecff;
 		color: inherit;
 	}

 	h1 {
 		font-variation-settings: "wght" 900;
 	}

 	h1, h2, h3, h4, h5, h6 {
 		font-family: var(--accent-font);
 	}

 	html {
 		scroll-behavior: smooth;
 	}

 	body {
 		margin: 5vw;
 		font-family: var(--body-font);
 	}

 	header {
 		margin-bottom: -25px;
 	}

 	a {
 		text-decoration: none;
 		color: inherit;
 	}

 	p {
 		max-width: 700px;
 	}

 	figure {
 		margin: 0;
 		margin-bottom: 2vh;
 	}

 	figcaption {
 		margin-top: 10px;
 		margin-bottom: 16px;
 		display: flex;
 		justify-content: space-between;
 		gap: 10px;
 	}

 	#info {
 		font-family: var(--mono-font);
 	}

 	@media (max-width: 760px) {
 		figcaption {
 			display: block;
 		}

 		#info {
 			display: block;
 			margin-top: 10px;
 		}

 		h1 {
 			margin-bottom: -10px;
 		}
 	}

 	@media (min-width: 760px) {
 		h1 {
 			font-size: 45px;
 		}

 		#info {
 			text-align: right;
 		}

 		header {
 		    display: flex;
 		    align-items: center;
 		    justify-content: space-between;
 		}
 	}

 	button {
 		margin-bottom: 16px;
 		border: none;
 		border-radius: var(--border-radius);
 		padding: 10px;
 		cursor: pointer;
 		margin-right: 12px;
 		background: #EFEFEF;
 	}

 	img {
 		width: 100%;
 		height: auto;
 		border-radius: var(--border-radius);
 		margin: 0;
 	}

 	/* utility classes */

 	.pixel-rendering {
 		image-rendering: pixelated;
 	}

 	.faux-button {
 		border-radius: 10px;
 		padding: 10px;
 	}

 	.faux-button:hover {
 		background: #EFEFEF;
 	}

 	.uninteractive {
 		user-select: none;
 	}

 	.emoji {
 		font-family: "Segoe UI Emoji", emoji;
 	}

 	.icon {
 		margin-left: 4px;
 		margin-top: -10px;
 		margin-bottom: -2.5px;
 		width: 15px;
 		height: 15px;
 		display: inline-block;
 	}

 	.caption {
 	    position: relative;
 	    top: -30px;
 	    color: black;
 	    left: 0;
 	    background: white;
 	    padding: 8px;
 	    border-top-right-radius: 10px;
 	}

 	/* slider */

 	.beer-slider {
 	    display: inline-block;
 	    overflow: hidden;
 	    position: relative
 	}

 	.beer-slider *,.beer-slider:after,.beer-slider :after,.beer-slider:before,.beer-slider :before {
 	    box-sizing: border-box
 	}

 	.beer-slider img,.beer-slider svg {
 	    vertical-align: bottom
 	}

 	.beer-slider>* {
 	    height: 100%
 	}

 	.beer-slider>img {
 	    height: auto;
 	    max-width: 100%
 	}

 	.beer-reveal {
 	    left: 0;
 	    opacity: 0;
 	    overflow: hidden;
 	    position: absolute;
 	    right: 50%;
 	    top: 0;
 	    transition: opacity .35s;
 	    z-index: 1
 	}

 	.beer-reveal>:first-child {
 	    height: 100%;
 	    max-width: none;
 	    width: 200%
 	}

 	.beer-reveal>img:first-child {
 	    height: auto
 	}

 	.beer-range {
 	    bottom: 0;
 	    cursor: ew-resize;
 	    height: 100%;
 	    left: -1px;
 	    margin: 0;
 	    opacity: 0;
 	    position: absolute;
 	    top: 0;
 	    touch-action: auto;
 	    width: calc(100% + 2px);
 	    z-index: 2
 	}

 	.beer-range::-webkit-slider-thumb {
 	    -webkit-appearance: none;
 	    height: 300vh
 	}

 	.beer-range::-moz-range-thumb {
 	    -webkit-appearance: none;
 	    height: 300vh
 	}

 	.beer-range::-ms-tooltip {
 	    display: none
 	}

 	.beer-handle {
 	    background: hsla(0,0%,100%,.6);
 	    border-radius: 50%;
 	    color: #000;
 	    height: 48px;
 	    left: 50%;
 	    opacity: 0;
 	    pointer-events: none;
 	    position: absolute;
 	    top: 50%;
 	    transform: translate3d(-50%,-50%,0);
 	    backdrop-filter: blur(4px) saturate(1.5);
 	    width: 48px;
 	    z-index: 2
 	}

 	.beer-handle:after,.beer-handle:before {
 	    border-left: 2px solid;
 	    border-top: 2px solid;
 	    content: "";
 	    height: 10px;
 	    position: absolute;
 	    top: 50%;
 	    transform-origin: 0 0;
 	    width: 10px;
 	    border-radius: 1.5px;
 	}

 	.beer-handle:before {
 	    left: 10px;
 	    transform: rotate(-45deg)
 	}

 	.beer-handle:after {
 	    right: 0;
 	    transform: rotate(135deg)
 	}

 	.beer-range:focus~.beer-handle {
 	    background: hsla(0,0%,100%,1);
 	}

 	.beer-reveal[data-beer-label]:after,.beer-slider[data-beer-label]:after {
 	    background: white;
 	    border-radius: 5px;
 	    content: attr(data-beer-label);
 	    line-height: 1;
 	    padding: .5rem;
 	    position: absolute;
 	    top: 1.5rem
 	}

 	.beer-slider[data-beer-label]:after {
 	    right: 1.5rem
 	}

 	.beer-reveal[data-beer-label]:after {
 	    left: 1.5rem
 	}

 	.beer-reveal[data-beer-label=""]:after,.beer-slider[data-beer-label=""]:after {
 	    content: none
 	}

 	.beer-ready .beer-handle,.beer-ready .beer-reveal {
 	    opacity: 1
 	}